*{
    margin: 0;
    padding: 0%;

}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(255, 255, 255);
    background: #ffff url(imagens/Fundo_geral_ok.png);
    background-size: 100% ;
}
#caixa_principal{
    width: 1200px;
    height: 567px;
    margin:0 auto;
    margin-top: 20px;
    border-radius: 15px;
    background: #23211f;
    box-shadow: 10px 0 15px -6px rgba(0, 0, 0, 0.8), -12px 0 8px -6px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 10px 0 15px -6px rgba(0, 0, 0, 0.8), -12px 0 8px -6px rgba(0, 0, 0, 0.8);
    
}

/** Navegação**/
nav{
    margin: 0px auto;
    margin-top: 10px;
    padding-left: 0px;
    background-color: #23211f;
    float: left;
    ;
}
.ul{
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
	list-style-type: none;
}
.ul a:hover{
   filter: brightness(300%)

}
.li{
    margin-bottom: 30px;
}
/** FOTO**/

.foto{
    float: left;
    box-shadow: 10px 0 15px -6px rgba(0, 0, 0, 0.8), -12px 0 8px -6px rgba(0, 0, 0, 0.8);
}

/** Descrição**/

.sobre{
    width: 790px;
    height: 567px;
    margin-top: 30px;
    margin-left: 390px;
  
}
h1{
    font-size: 3em;
}
.Descricao a{
    font-size: 1,9em;
}
.Descricao p {
    font-size: 1,5em;
    color:rgb(225, 207, 119);

}


.lado_a{
    display: inline-block;
    width: 355px;
    margin-top: 30px;
    margin-right:30px;
    text-align: justify;
}
.lado_b{

    float:none;
    width: 770px;
    margin-top: 30px;
    margin-top: ;
}

#chama{
    font-size:2em;
    color:rgb(225, 207, 119);
    margin-bottom: 10px;

}

}
/**.div_geral{

    margin-top: 30px;
    width: 300px;
    border:#ffff solid;
}
#lado{
    float:left;
    margin-top: -205px;
    margin-left: 350px;
    width: 300px;
    border:#ffff solid;
    position: fixed;
}

